@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: auto;
}

/* Styling mobile container */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: rgb(161, 158, 158);
  color: #000;
  border-radius: 10px;
}

/* Styling navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  }
  
.topnav a {
  float: left;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

/* Styling main-container */
main {
  padding: 2% 2%;
  font-size: 1.60rem;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;  /* What does this CSS property do  */
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

/* styling the landing ID-container. Set the background to white color  */
#landing {
  background: #fff;
  display: flex;
}

/* styling the landing-text ID-container. Set display as flex  */
/* viewport width (vw) - you can think it as slices. If you wanted it to take half the width you would set it to 50 vw (viewport widths) */
/* viewport height (vh) - If the height had a hundred slices and we set something to 100vh (viewport heights). It will then take up the whole screen. If you want it to take half the screen you would do 50 vh (viewport heights) */

/* If you want to align text inside the landing-text to center - horizontally, we can say justify-content "center" (because we are using flexbox) */
/* If you want to align text inside the landing-text vertically to center, we can say text-align "center" (because we are using flexbox) */
#landing-text {
  display: flex;
  flex-direction: column;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem 1.3rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  /* The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container. */
  flex: 0 1 60vw; 
  margin: 0;
}

.btn {
  padding: 0.7rem 1.65rem;
  border: 1px #ccc solid;
  display: inline-block;  /* What does this CSS property do  */
  margin: 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  font-size: 0.85rem;
}

.btn:hover {
  background: #94C3BF ;
}
